[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-monokai"]
	path = vim/.vim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/vim-javascript-syntax"]
	path = vim/.vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/vim-clojure-static"]
	path = vim/.vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule "vim/.vim/bundle/rainbow_parantheses"]
	path = vim/.vim/bundle/rainbow_parantheses
	url = https://github.com/kien/rainbow_parentheses.vim
